@import url(https://fonts.googleapis.com/css?family=Asap:400,700|Lato:400,700,900&display=swap);

body {
  margin: 0 auto;
  padding-top: 10%;
  background: #f6f6f6;
}

main {
  margin: 10px auto;
  padding: 8px;
  max-width: 1000px;
}

h1 {
  margin: 0 0 10px 0;
  font: bold 110px lato, arial;
  color: #505050;
  line-height: 1;
  text-align: center;
}

h2 {
  margin: 0 0 10px 0;
  font: bold 32px lato, arial;
  color: #505050;
  line-height: 1;
  text-align: center;
}

p {
  margin: 0;
  font: 17px lato, arial;
  color: #222;
  text-align: center;
  line-height: 1.5;
}

a {
  color: #006cff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.aligncenter {
  text-align: center;
}

.colorbutton,
.colorbutton:hover {
  background: #2c87c5;
  font: 16px lato, arial;
  color: #fff;
  padding: 12px;
  border-radius: 3px;
  text-decoration: none;
}

#top {
  text-align: center;
  padding: 15px 20px 15px;
}

a.logo {
  font: 900 49px asap, arial;
  color: #0186da;
  letter-spacing: -1px;
  text-shadow: 0px 2px 2px #ddd;
  word-wrap: break-word;
}

a.logo:hover {
  text-decoration: none;
}


footer {
  text-align: center;
  font: 16px asap, arial, tahoma;
  color: #eee;
  background: #333;
  width: 100%;
  border-top: 5px solid #00a0db;
  padding: 20px 0 100px;
  line-height: 1.5
}

footer #footerbox {
  padding: 0 10px
}

footer ul {
  display: inline-block;
  list-style: none
}

footer ul li {
  display: inline;
  padding: 4px
}

footer ul li a {
  color: #0089ff
}

html {
  position: relative;
  min-height: 100%
}

body {
  margin-bottom: 200px
}

footer {
  position: absolute;
  bottom: 0;
  height: 40px
}