<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Chotu URL</title>
    <meta name="description"
        content="The shortened URL was generated to copy and share with other people, sites and social networks.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('favicon') }}">
    <script src="{{ url_for('static', filename='js/copy.js') }}"></script>
</head>

<body>
    <header>
        <div id="top">
            <div id="logo"><a href="{{ url_for('home') }}" class="logo">Chotu URL</a></div>
        </div>
    </header>
    <main>
        <section id="content">
            <h1>Your Chotu URL</h1>
            <p>Copy the Chotu link and share it wherever you like.</p>
        </section>
        <section id="urlbox">
            <br><br>
            <div id="formurl" style="max-width: 400px;">
                <input id="shortenurl" type="text" contenteditable="false" value="{{ data['chotu_url'] }}"
                    onclick="copy()">
                <div id="formbutton">
                    <input type="button" data-clipboard-target="#shortenurl" class="copy" value="Copy URL"
                        onclick="copy()">
                </div>
            </div>
            <div id="formurl" style="max-width: 400px; display: block;">
                <div id="balloon" style="display: none;">URL Copied</div>
            </div>
            <p class="boxtextleft">Long URL: <a href="{{ data['url'] }}" target="_blank">{{ data['url'] }}</a><br><br>

                Track <a href="{{ data['counter_url'] }}">the total of clicks</a> in real-time from your
                shortened URL.<br>
                Create other <a href="{{ url_for('home') }}">Chotu URL</a>.
            </p>
        </section>
        <section id="content">
            <h2>Share URL</h2>
            <div class="socialnetworkbox">
                <p>
                    <a class="snb snbfacebook" target="_blank" href="{{ data['social']['facebook'] }}">Facebook</a>
                    <a class="snb snbtwitter" target="_blank" href="{{ data['social']['twitter'] }}">Twitter</a>
                    <a class="snb snbpinterest" target="_blank" href="{{ data['social']['pinterest'] }}">Pinterest</a>
                    <a class="snb snbtumblr" target="_blank" href="{{ data['social']['tumblr'] }}">Tumblr</a>
                    <a class="snb snbwhatsapp" target="_blank" href="{{ data['social']['whatsapp'] }}">WhatsApp</a>
                </p>
            </div>
        </section>
    </main>
    {% include "footer.html" %}
</body>

</html>