<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Total URL Clicks</title>
    <meta name="description" content="The number of clicks that your Chotu URL received.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('favicon') }}">
</head>

<body>
    <header>
        <div id="top">
            <div id="logo"><a href="{{ url_for('home') }}" class="logo">Chotu URL</a></div>
        </div>
    </header>
    <main>
        <section id="content">
            <h1>Total URL Clicks</h1>
            <p>The total number of clicks that your Chotu URL has received so far.</p>
            <div class="squarebox"><b>{{ views }}</b></div>
            <p>Our Chotu 👶 will count each click as one hit to the long URL, even if there are multiple clicks from the
                same person or device. Check <a href="{{ url_for('counter') }}">the total number of clicks</a> for other
                Chotu URL.<br>
            <p><a href="{{ url_for('home') }}" class="colorbutton">Create other Chotu URL</a></p>
        </section>
    </main>
    {% include "footer.html" %}
</body>

</html>