<footer>
    <div id="footerbox">
        <div>&copy; 2022 Chotu URL - Converts Lambu URL to Chotu URL</div>
        <div>Made with 💜 by <a href="http://punit.pragmaticprogrammer.in">Punit Choudhary</a></div>
        <div>Frontend inspired from <a href="https://www.shorturl.at/">Shorturl.at</a></div>
        <ul>
            <li><a href="{{ url_for('home') }}">Chotu URL</a></li>
            <li>|</li>
            <li><a href="{{ url_for('counter') }}">URL Click Counter</a></li>
            <li>|</li>
            <li><a href="{{ url_for('underdev') }}">Report Malicious URL</a></li>
            <li>|</li>
            <li><a href="{{ url_for('underdev') }}">Terms of Service</a></li>
            <li>|</li>
            <li><a href="{{ url_for('underdev') }}">Privacy</a></li>
            <li>|</li>
            <li><a href="{{ url_for('underdev') }}">Contact</a></li>
        </ul>
    </div>
</footer>