<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('favicon') }}">
  <title>404 Page Not Found</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/not-found.css') }}">
</head>

<body>
  <main>
    <div id="top"><a href="{{ url_for('home') }}" class="logo">Chotu URL</a></div>
    <h1>404</h1>
    <h2>Page not found!</h2>
    <p>The page you are looking for might have been removed, had its name changed or is unavailable.</p>
    <p><br><a href="{{ url_for('home') }}" class="colorbutton">Return to home page</a></p>
  </main>
  {% include "footer.html" %}
</body>

</html>